.default-layout {
  &__content {
    padding-top: 160px;

    @media only screen and (max-width: 780px) {
      padding-top: 80px;
    }

    @media only screen and (max-width: 517px) {
      padding-top: 120px;
    }
  }
}