.default-layout {
  &__content {
    margin-top: 160px;
    position: relative;

    @media only screen and (max-width: 780px) {
      margin-top: 80px;
    }

    @media only screen and (max-width: 517px) {
      margin-top: 120px;
    }
  }
}