.not_auth_layout {
  &--left {
    height: 100vh;
    max-width: 400px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
  }

  &--right {
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    position: fixed;
    background-color: $light-purple;
  }
}