@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700&display=swap');

// Colors
$body-color: #f7f9fc;

// Purple Colors
$primary-purple: #3E79F7;
$light-purple: #CBDAFA;

// Blue Colors


// Fonts
$font-regular: 'Poppins', sans-serif;

// Container
$container-max-width: 85%;
